@import "variables.less";

.table-container {
  th {
    border-right: none;
    input {
      font-family: LinotypeUnivers-430Regular;
      width: 182px;
      height: 19px;
      padding-left: 5px;
      padding-top: 3px;
      font-size: 12px;
      border-style: solid;
      border-color: lightgrey;
      border-width: 1px;
    }
    select {
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      padding-top: 8px;
      font-family: LinotypeUnivers-430Regular;
      display: inline-block;
      background-color: #fff;
      border-color: #cccccc;
      border-width: 1px;
      background: url(../images/dropdown_arrow.png) no-repeat right;
      background-position: right 8px top 6px;
      color: #000;
      width: 182px;
      height: 19px;
      padding-left: 5px;
      font-size: 12px;
      border-radius: 0px;
      padding-top: 2px;
      @media @mobile {
        background-position: right 10px top 10px;
        width: 100%;
        height: 26px;
        padding-top: 6px;
      }
    }
  }

  table {
    thead {
      tr {
        th:nth-of-type(1) { width: 8%; }
        th:nth-of-type(2) { width: 10%; }
        th:nth-of-type(3) { width: 30%; }
        th:nth-of-type(4) { width: 30%; }
        th:nth-of-type(5) { width: 8%; }
        th:nth-of-type(6) { width: 14%; }
        @media @mobile {
          th:nth-of-type(1) { width: auto; }
          th:nth-of-type(2) { width: auto; }
          th:nth-of-type(3) { width: auto; }
          th:nth-of-type(4) { width: auto; }
          th:nth-of-type(5) { width: auto; }
          th:nth-of-type(6) { width: auto; }
        }
      }
    }
  }


}

