<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title>Message Factory</title>
  <meta name="apple-mobile-web-app-title" content="Message Factory">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
  <link rel="apple-touch-startup-image" href="apple-startup.png">
  <link href="apple-touch-startup-image-1242x2148.png"
        media="(device-width: 414px) and (device-height: 736px)
             and (-webkit-device-pixel-ratio: 3)
             and (orientation: portrait)"
        rel="apple-touch-startup-image">
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
  <!-- build:css(.) styles/vendor.css -->
  <!-- bower:css -->
  <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css" />
  <link rel="stylesheet" href="bower_components/tether-shepherd/dist/css/shepherd-theme-square-dark.css" />
  <!-- endbower -->
  <!-- endbuild -->
  <link rel="stylesheet" href="plugins/feedbackjs/feedback.css" />
  <!--<link rel="stylesheet" href="bower_components/tether-shepherd/dist/css/shepherd-theme-square-dark.css" />-->
  <!-- build:css(.tmp) styles/main.css -->
  <link rel="stylesheet" href="styles/less.css">
  <!-- endbuild -->
</head>
<body ng-app="messageFactoryApp" ng-controller="AppCtrl" ng-app-name="MFUI">
<!--[if lte IE 8]>
<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
<![endif]-->

<!-- Add your site or application content here -->
<div class="header global-header">
  <div class="navbar navbar-default" role="navigation">
    <div class="container global-header-container">

      <div class="navbar-header">

        <button ng-if="checkToggle()" type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#js-navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>

        <a class="navbar-brand" ui-sref="search"><img src="images/logo.svg" />Message Factory</a>

      </div>

      <div class="collapse navbar-collapse" id="js-navbar-collapse" ng-if="checkToggle()">
        <ul class="nav navbar-nav">
          <li><a ui-sref="createmessage">Create Message</a></li>
          <li><a ui-sref="createapp">Create App</a></li>
          <li><a ui-sref="export">Export</a></li>
          <li><a ui-sref="search">Search</a></li>
        </ul>
      </div>

    </div>
  </div>
</div>

<div class="container">
  <div ui-view></div>
</div>

<!-- Google Analytics: change UA-XXXXX-X to be your site's ID -->
<script>
  !function(A,n,g,u,l,a,r){A.GoogleAnalyticsObject=l,A[l]=A[l]||function(){
      (A[l].q=A[l].q||[]).push(arguments)},A[l].l=+new Date,a=n.createElement(g),
    r=n.getElementsByTagName(g)[0],a.src=u,r.parentNode.insertBefore(a,r)
  }(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-XXXXX-X');
  ga('send', 'pageview');
</script>

<!-- build:js(.) scripts/vendor.js -->
<!-- bower:js -->
<script src="bower_components/jquery/dist/jquery.js"></script>
<script src="bower_components/angular/angular.js"></script>
<script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
<script src="bower_components/angular-animate/angular-animate.js"></script>
<script src="bower_components/angular-cookies/angular-cookies.js"></script>
<script src="bower_components/angular-resource/angular-resource.js"></script>
<script src="bower_components/angular-route/angular-route.js"></script>
<script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
<script src="bower_components/angular-touch/angular-touch.js"></script>
<script src="bower_components/angular-ui-router/release/angular-ui-router.js"></script>
<script src="bower_components/angular-smart-table/dist/smart-table.js"></script>
<script src="bower_components/tether/dist/js/tether.js"></script>
<script src="bower_components/tether-shepherd/dist/js/shepherd.js"></script>
<!-- endbower -->
<!-- endbuild -->

<script src="configs/config.js"></script>
<!-- build:js({.tmp,app}) scripts/scripts.js -->
<script src="scripts/app.js"></script>
<script src="scripts/controllers/create_message.js"></script>
<script src="scripts/controllers/create_app.js"></script>
<script src="scripts/controllers/export.js"></script>
<script src="scripts/controllers/search.js"></script>
<script src="scripts/models/MFData.js"></script>
<!-- endbuild -->
<script src="plugins/feedbackjs/feedback.js"></script>



</body>
</html>
