
<div class="search-top-container">
  <h2>Create</h2>

  <div class="search-container" ng-controller="CreateCtrl as sc">

    <h3>App Name</h3>
    <select ng-model="selectedAppName">
      <option ng-repeat="appName in appNames" value="appName">{{appName}}</option>
    </select>
    <span class="instruction-text">Select an app from the dropdown. To create a new app go to Create App.</span>

    <h3>Message Code</h3>
    <input type="text" ng-model="selectedMsgCode" />
    <span class="instruction-text">You can use any number between 1 and 100.</span>

    <h3>Message Level</h3>
    <select ng-model="selectedMessageLevel">
      <option value="Message">Message</option>
      <option value="Info">Info</option>
      <option value="Warning">Warning</option>
      <option value="Error">Error</option>
    </select>

    <h3>Internal Message</h3>
    <textarea ng-model="selectedInternalMessage"></textarea>

    <h3>Language</h3>
    <select ng-model="selectedLanguage">
      <option ng-repeat="language in languages" value="language">{{language}}</option>
    </select>

    <br>
    <input type="submit" class="po-button" ng-click="newMessageSubmit()" />


    <!--<div class="modal fade" id="progressModal" tabindex="-1" role="dialog" aria-labelledby="progressModalLabel">-->
      <!--<div class="modal-dialog" role="document">-->
        <!--<div class="modal-content">-->
          <!--<div class="modal-header">-->
            <!--<button type="button" class="close" ng-click="closeProgressModal()" aria-label="Close"><span aria-hidden="true">&times;</span></button>-->
            <!--<h4 class="modal-title progress-modal-title" id="progressModalLabel">Approval Progress History</h4>-->
          <!--</div>-->
          <!--<div class="progress-container"></div>-->
          <!--<div class="modal-footer">-->
            <!--<button ng-click="closeProgressModal()" type="button" class="btn btn-default" data-dismiss="modal">Close</button>-->
          <!--</div>-->
        <!--</div>-->
      <!--</div>-->
    <!--</div>-->

  </div>
</div>
