
<div class="search-top-container">
  <h2>Create Message</h2>

  <div class="search-container" ng-controller="CreateMessageCtrl as sc">

    <h3>App Name</h3>
    <select ng-model="selectedApp" ng-options="appObj.appName for appObj in appObjects"></select>
    <span class="instruction-text">Select an app from the dropdown. To create a new app go to Create App.</span>

    <h3>Available Message Codes</h3>
    <select name="selectedMsgCode" ng-model="selectedMsgCode" ng-options="slot for slot in selectedApp.availableSlot"></select>
    <span ng-hide="selectedApp" class="instruction-text">Select an app to view available message codes.</span>
    <span ng-show="selectedApp" class="instruction-text">Choose an available message code. This number will be prefixed by the <i>{{selectedApp.appName}}</i> app's message code prefix <i>{{selectedApp.prefix}}</i></span>

    <h3>Message Level</h3>
    <select ng-model="selectedMessageLevel">
      <option value="Message">Message</option>
      <option value="Info">Info</option>
      <option value="Warning">Warning</option>
      <option value="Error">Error</option>
      <option value="Critical">Critical</option>
    </select>
    <span class="instruction-text">Note: Errors require negative message codes.</span>

    <h3>Internal Message</h3>
    <textarea ng-model="selectedInternalMessage"></textarea>

    <h3>User Message</h3>
    <textarea ng-model="selectedExternalMessage"></textarea>

    <h3>Language</h3>
    <select name="selectedLanguage" ng-model="selectedLanguage" ng-options="language for language in languagesReverse"></select>
    <span class="instruction-text">Optional. Default will be ENU - United States English</span>

    <div class="additional-language" ng-repeat="additionalLanguage in additionalLanguages">
      <hr>
      <h3>User Message</h3>
      <textarea ng-model="selectedExternalMessages[additionalLanguage]"></textarea>
      <h3>Language</h3>
      <select name="selectedLanguage" ng-model="selectedLanguages[additionalLanguage]" ng-options="language for language in languagesReverse"></select>
    </div>

    <input type="submit" value="Add Language" class="po-button add-language-button" ng-click="addAnotherLanguage()" />

    <br>
    <input type="submit" value="Create" class="po-button" ng-click="newMessageSubmit()" />
    <span class="create-another"><input type="checkbox" name="create_another" ng-model="create_another"> Create Another Message</span>

    <div ng-show="appResults && appResults.status === 'successful'" class="app-create-results success">
      <!--<div class="app-create-results success">-->
      <p>
      <h2>Message created successfully!</h2>
      </p>
    </div>


    <!--<div class="modal fade" id="progressModal" tabindex="-1" role="dialog" aria-labelledby="progressModalLabel">-->
      <!--<div class="modal-dialog" role="document">-->
        <!--<div class="modal-content">-->
          <!--<div class="modal-header">-->
            <!--<button type="button" class="close" ng-click="closeProgressModal()" aria-label="Close"><span aria-hidden="true">&times;</span></button>-->
            <!--<h4 class="modal-title progress-modal-title" id="progressModalLabel">Approval Progress History</h4>-->
          <!--</div>-->
          <!--<div class="progress-container"></div>-->
          <!--<div class="modal-footer">-->
            <!--<button ng-click="closeProgressModal()" type="button" class="btn btn-default" data-dismiss="modal">Close</button>-->
          <!--</div>-->
        <!--</div>-->
      <!--</div>-->
    <!--</div>-->

  </div>
</div>
