

<!-- Content option 1 - Navbar with Table Data -->
<div class="header table-groupings" ng-controller="SubnavCtrl" ng-app="poTableModule">
  <div class="navbar navbar-default" role="navigation">
    <div class="container">
      <ul class="nav navbar-nav">
        <li><a ng-class="getClass('/main/all')" ui-sref="main.all"><img src="../images/button_received.png"><span>All</span></a></li>
        <li><a ng-class="getClass('/main/errors')" ui-sref="main.errors"><img src="../images/button_declined.png"><span>Errors</span></a></li>
        <li><a ng-class="getClass('/main/messages')" ui-sref="main.messages"><img src="../images/button_approved.png"><span>Messages</span></a></li>
      </ul>
    </div>
  </div>
</div>

<!-- Table Data for selected navbar option above -->
<div class="container">
  <div ui-view></div>
</div>


