<h2>Apps</h2>

  <div class="table-container" ng-controller="SearchAppCtrl as sac" name="displayTable">
    <table class="table" st-table="sc.displayed">
      <thead class="apptable">
        <tr class="column-headers">
          <th st-sort="appName">App Name</th>
          <th st-sort="availableSlot">Available Slots</th>
          <th st-sort="prefix">Prefix</th>
          <th st-sort="email">Email</th>
          <th st-sort="phone">Phone</th>
        </tr>
      </thead>
      <tbody>
      <tr ng-repeat="row in appObjects" class="row-highlight">
        <td ng-click="selectRow({{row}})">{{row.appName}}</td>
        <td ng-click="selectRow({{row}})">{{row.availableSlot.length}}</td>
        <td ng-click="selectRow({{row}})">{{row.prefix}}</td>
        <td ng-click="selectRow({{row}})">{{row.email}}</td>
        <td ng-click="selectRow({{row}})">{{row.phone}}</td>
      </tr>
      <tfoot>
        <tr ng-show="sac.displayed.length"><td colspan="2">No Records</td></tr>
        <tr ng-show="hasError"><td colspan="2">API Request Error</td></tr>
      </tfoot>
    </table>

    <div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" ng-click="closeModal()" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel">Edit App</h4>
          </div>
          <form class="modal-body form-group">
            <input name="modalAppName" ng-model="modalAppName" aria-describedby="helpBlock2" class="form-control" rows="2" disabled></input>
            <span class="help-block help-block1">App Name</span>
            <input ng-model="modalAvailableSlot" type="text" aria-describedby="helpBlock1" class="form-control" rows="2" disabled />
            <span class="help-block help-block2">Total Number of Available Slots</span>
            <input name="modalPrefix" ng-model="modalPrefix" aria-describedby="helpBlock5" class="form-control" rows="2" disabled />
            <span class="help-block help-block3">Prefix</span>
            <input name="modalEmail" ng-model="modalEmail" aria-describedby="helpBlock4" class="form-control" rows="2" />
            <span class="help-block help-block4">Contact Email</span>
            <div class="additional-language" ng-repeat="additionalEmail in additionalEmails">
              <input ng-model="modalEmails[additionalEmail]" type="text" class="form-control" rows="2" />
              <span class="help-block help-block4">Contact Email</span>
            </div>
            <button ng-click="addAnotherEmail()" type="button" class="btn btn-default">Add Email</button>
            <input name="modalPhone" ng-model="modalPhone" aria-describedby="helpBlock3" class="form-control" rows="2" />
            <span class="help-block help-block5">Contact Phone Number</span>
            <div class="additional-language" ng-repeat="additionalPhone in additionalPhones">
              <input ng-model="modalPhones[additionalPhone]" type="text" class="form-control" rows="2" />
              <span class="help-block help-block5">Contact Phone Number</span>
            </div>
            <button ng-click="addAnotherPhone()" type="button" class="btn btn-default">Add Phone Number</button>
          </form>
          <div class="modal-footer">
            <button ng-click="closeModal()" type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
            <button ng-click="saveUpdate()" type="button" class="btn btn-primary">Save changes</button>
          </div>
        </div>
      </div>
    </div>

    <div class="modal fade" id="confirm-delete" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-body">
            Are you sure you want to delete this message?
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
            <a ng-click="deleteMessage()" class="btn btn-danger btn-ok">Delete</a>
          </div>
        </div>
      </div>
    </div>

  </div>

