<h2>Search Messages</h2>

  <div class="table-container" ng-controller="SearchCtrl as sc" name="displayTable">
    <table class="table" st-pipe="sc.callServer" st-table="sc.displayed">
      <thead>
      <tr class="table-search-row">
        <span class="sk-fading-circle-span" ng-show="sc.isLoading">
            <div class="sk-fading-circle">
              <div class="sk-circle1 sk-circle"></div>
              <div class="sk-circle2 sk-circle"></div>
              <div class="sk-circle3 sk-circle"></div>
              <div class="sk-circle4 sk-circle"></div>
              <div class="sk-circle5 sk-circle"></div>
              <div class="sk-circle6 sk-circle"></div>
              <div class="sk-circle7 sk-circle"></div>
              <div class="sk-circle8 sk-circle"></div>
              <div class="sk-circle9 sk-circle"></div>
              <div class="sk-circle10 sk-circle"></div>
              <div class="sk-circle11 sk-circle"></div>
              <div class="sk-circle12 sk-circle"></div>
            </div>
          </span>
        <th colspan="5">
          <input st-search="msgCode" placeholder="search Message Code" style="display:inline-block;" name="searchInput.msgCodeSearch" ng-model="searchInput.msgCodeSearch" />
          <input st-search="appName" placeholder="search App Name" name="searchInput.appNameSearch" ng-model="searchInput.appNameSearch" />
          <input st-search="internalMessage" placeholder="search Internal Message" name="searchInput.internalMessageSearch" ng-model="searchInput.internalMessageSearch" />
        </th>
      </tr>
      <tr class="column-headers" ng-hide="sc.initialLoad">
        <th st-sort="msgCode">Message Code</th>
        <th st-sort="appName">App Name</th>
        <th st-sort="messageInternal">Internal Message</th>
        <th st-sort="messageLevel">Message Level</th>
        <th st-sort="language">Language</th>
      </tr>
      </thead>
      <tbody>
      <tr ng-repeat="row in sc.displayed">
        <td ng-click="selectRow({{row.msgCode}})">{{row.msgCode}}</td>
        <td ng-click="selectRow({{row.msgCode}})">{{row.appName}}</td>
        <td ng-click="selectRow({{row.msgCode}})">{{row.message}}</td>
        <td ng-click="selectRow({{row.msgCode}})">{{row.messageLevel}}</td>
        <td ng-click="selectRow({{row.msgCode}})"><span ng-show="row.msgCode">{{(row.language) ? row.language : "En"}}</span></td>
      </tr>
      <tfoot>
      <tr>
        <td colspan="9">
          <span class="prev-pages" ng-show="hasPreviousPages()">...</span>
          <div class="text-center pagination-div" st-pagination="" st-items-by-page="10"></div>
          <span class="next-pages" ng-show="hasNextPages()">...</span>
        </td>
      </tr>
      <tr ng-hide="sc.displayed.length || sc.initialLoad || sc.isLoading || sc.hasError"><td colspan="2">No Records</td></tr>
      <tr ng-show="sc.hasError"><td colspan="2">API Request Error</td></tr>
      </tfoot>
    </table>
  </div>

